version: '3'

services:

  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    volumes:
      - mongodb-data:/data/db

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_USER}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_PASSWORD}
      - ME_CONFIG_MONGODB_SERVER=mongodb
    restart: always
    depends_on:
      - mongodb
  redis:  
    image: redis
    ports:
      - "6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
  # andromeda:
  #   image: andromeda:1.0
  #   container_name: andromeda
  #   entrypoint: python3 /home/src/crawler.py start
  #   depends_on:
  #     - mongo-express
  #   environment:
  #     - MONGODB_HOST=mongodb

networks:
  default:
    name: mongo-express-network

volumes:
  mongodb-data:
    driver: local
   