@import url("https://fonts.google.com/specimen/Chakra+Petch?preview.text=Andromeda&preview.size=72&preview.text_type=custom");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(
      rgba(1, 65, 255, 0.4),
      rgba(1, 65, 255, 0)
    );
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(255, 105, 180, 0.3)
    );
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

@layer base {
  body {
    @apply h-full;
  }
  
  html {
    @apply font-poppins;
  }

  h1 {
    @apply text-6xl md:text-8xl font-bold font-chakra mb-6;
  }
}
